// Put your custom styles here!

// New to Stylus? Check out http://learnboost.github.io/stylus
// You can use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

div.git-sha
  font-size 0.8rem
  color: #cccc28

div.git-tag
  font-size 0.8rem
  color: #f7f34a  
  font-weight: bold
  
div.git-head
  font-size 0.8rem
  color: #42d9f4
  
div.git-branch
  font-size 0.8rem
  color: #37ce3c

div.git-origin
  font-size 0.8rem
  color: #c90000
  font-weight: bold

div.row
  display:flex
  flex-direction:row
  justify-content: space-evenly
li.notbullet::before
  content: ""
  list-style-type:none; 
li.notbullet
  display:flex
  justify-content: center 
li.empty::before
  content: ""