// Put your custom styles here!

// New to Stylus? Check out http://learnboost.github.io/stylus
// You can use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

div.commit-sha
  font-size 0.8rem
  color: #cccc28


div.commit-head
  font-size 0.8rem
  color: #42d9f4 
