doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Git, Tout simplement

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article.deck

      section
        h1 Git, Tout simplement

      section
        div
          h2 Les différentes zones locale!
          img(src="images/git-index-initial-state.svg", width="60%")
        aside.notes
          p test
          p Commeçons par expliquer les differents états de nos fichier:
          p Nos fichiers peuvent etre dans les etat
          p - <b>le working directory</b> comme son nom l'inqique c'est notre zone de travail,
          p - <b>l'index</b> on peux appeler ça la Zone de tranfert.
          p - <b>le head</b> le head reprense se qu'on a commiter
      section 
        h2 comment identifier un commit
          
    script(src='build/build.js')
